.top_menu-tittle_span{
    font-size:18px;
    font-weight: bolder;
  }
  
  .top_menu-tittle_span_container{
    width:20%;
    // border:1px solid blue;
  }
  
  .top_menu-nav_container{
    margin-top:20px;
  }
  
  .top_menu-container{
    display:flex;
    flex-wrap:wrap;
  }
  
  .top_menu-ids_container{
    display:flex;
    // border:1px solid red;
    width:60%;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  
  .c-menu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  
    &__link {
      font-size: 20px;
      font-weight:bolder;
      text-decoration: none;
      padding:10px 10px 0px 0px;
      margin: 0px 0px;
      border-bottom: 3px solid #ddd;
      color:#673ab7;
      
      &--active{
        border-bottom: 3px solid #3498db;
        color:  #3498db;
      }
    }
  }