.customer-status_container{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    width: 93%;
}

.customer-register_fields_main_container{ 
    display:flex;
    justify-content: center;
}

.customer-register_fields_secondary_container{
    width:50%;
}

.customer-status_title_container{
    width:50%;
}

.customer-status_combo_container{
    width:50%;
}

.customers_filters-checkbox_blocks{
    margin-right:5px;
}

.customer-button_save_container{
    display: flex;
    justify-content: center;
    background-color: #315b8a;
    color:white;
    border-radius:4px;
    padding:6px;
    width:155px;
    border:none;
    height:36px;
}

.customer-button_save_container:hover{
    background-color: #273c75;
    cursor:pointer;
}

.customer-button_save_main_container{
    margin-top:20px;
}

.customer-form_fields_main_container{
    display:flex;
    flex-wrap:wrap;
}

.customer-form_field_main_container{
    margin:10px 20px;
    width:45%;
    min-width:290px;
}

.customer-form_field_main_container>input{
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgb(52, 152, 219);
    font-size: 15px;
    background-color: rgb(247, 248, 249);
    height: 35px;
    border-radius: 3px;
    padding: 10px 10px;
}

.customer-button_save_main_container{
    padding:20px 20px;
}

textarea:focus, input:focus{
    outline: none;
}

.customers_filters-associated_checkbox_container{
    display: flex;
    padding: 0px 20px;
    width: 240px;
    justify-content: flex-end;
}

.customer-form_container{
    width:95%;
}

.customer-top_container{
    padding:0px 21px;
    margin-top:10px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.customers-kind_container{
    display: flex;
    padding: 0px 20px;
    justify-content: space-between
}

.customer-bottom_container{
    display:flex;
    justify-content: space-between;
}

.customers_files_download_popup-files_icons{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1319px) {
    .customer-register_fields_secondary_container{
       width:100%;
    }
}

@media (min-width: 1200px) {
    .customer-form_field_main_container{
       width:35%;
    }
}

@media (min-width: 1443px) {
    .customer-form_field_main_container{
       width:40%;
    }
}